.author {

  &-byline {
    position: relative;
    margin: 1em auto;
    border-left: 10px solid $red;
    display: flex;
    max-width: 700px;
    flex-direction: column;

    @include bp(sm) {
      flex-direction: row;
    }

    &__wrap {
      padding: 1em 2em;
      background: darken($light-gray, 10%);
      background: linear-gradient(45deg, rgba(191,191,191,1) 0%,rgba(207,207,207,1) 62%,rgba(208,208,208,0.7) 68%,rgba(216,216,216,0) 100%);
      z-index: 5;
    }
  }

  &__photo {
    min-width: 96px;
  }
  &__bio {
    padding: 0 1em;
    p {
      margin: 0.5em 0;
    }
  }
  &__title {
    margin: 0;
    font-size: 1.8em;
    span {
      display: block;
      font-size: 0.5em;
      letter-spacing: 2px;
    }
  }
  &__meta {
    font-size: 0.8em;
  }

}
#author-byline-social {
  background: $red;
  width: 80px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: all 200ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  > a {
    color: white;
    svg {
      width: 30px;
      height: 60px;
      fill: lighten($red, 15%);
    }
    &:hover {
      svg {
        fill: white;
      }
    }
  }
}
