.author {

  &-byline {
    margin: 1em auto;
    background: darken($light-gray, 10%);
    background: linear-gradient(45deg, rgba(191,191,191,1) 0%,rgba(207,207,207,1) 62%,rgba(208,208,208,0.7) 68%,rgba(216,216,216,0) 100%);
    border-left: 10px solid $red;
    padding: 1em 2em;
    display: flex;
    max-width: 700px;
  }

  &__photo {
    min-width: 96px;
  }
  &__bio {
    padding: 0 1em;
    p {
      margin: 0.5em 0;
    }
  }
  &__title {
    margin: 0;
    font-size: 1.8em;
    span {
      display: block;
      font-size: 0.5em;
      letter-spacing: 2px;
    }
  }
  &__meta {
    font-size: 0.8em;
  }

}
