.footer {
	background: $dark-blue;
	padding-top: 1em;
	overflow: hidden;
	padding-bottom: 1em;
	border-top: 5px solid $light-blue;
	&__nav-wrap {
		display: flex;
		flex-direction: column;
		padding: 0 0.5em;
		justify-content: space-between;
		@include bp(md) {
			flex-direction: row;
		}
	}
	&--nav {
		flex: 2;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		a {
			color: white;
			text-decoration: none;
			display: block;
			width: 100%;
			padding: 0.5em;
			margin: 0 1em;
			text-align: center;

			&:hover {
				background: $red;
			}
		}
	}

	&-col-3 {
		flex-basis: 320px;
	}

	&--tawa {
		position: relative;
		a {
			color: white;
			text-decoration: none;
			display: block;
			overflow: hidden;
			padding-right: 2em;
			float: right;

			span {
				position: absolute;
				font-size: 0.7rem;
				top: 1.5rem;
				right: 8.5rem;
			}

			img {
				max-width: 100%;
				width: 8em;
			}
		}
	}

	.copyright {
		padding: 0 2em;
		width: 100%;
		text-align: center;
		color: lighten($dark-blue, 35%);
		font-size: 0.65em;
		a {
			color: lighten($dark-blue, 50%);
		}
	}
}
