.social-wrapper {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-wrap: wrap;

  @include bp(sm) {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: nowrap;
  }


  h3 {
    display: none;
  }

  & .social-widgets {
    flex: 33%;
    text-align: center;
    background: $orange;
    overflow: hidden;

    @include bp(sm) {
      width: 6em;
      min-width: 5em;
      flex: 1;
    }

    .textwidget a {
      display: block;
      padding: 1em 2em;
    }

    .icon {
      fill: white;
      width: 2.1em;
      height: 2.1em;
      margin: 0 auto;
    }

    &:hover {
      background: $light-blue;
    }
  }
}
