.social-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  h3 {
    display: none;
  }

  & .social-widgets {
    width: 6em;
    min-width: 5em;
    background: $orange;
    flex: 1;
    overflow: hidden;

    .textwidget a {
      display: block;
      padding: 1em 2em;
    }

    .icon {
      fill: white;
      width: 2.1em;
      height: 2.1em;
      margin: 0 auto;
    }

    &:hover {
      background: $light-blue;
    }
  }
}
