
.site-header {
	background: $dark-blue;
	height: 3.5em;
	border-bottom: 2px solid lighten($blue, 10%);
	// position: relative;

	@include bp(md) {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		background: lighten($blue, 10%);
		display: block;
		// position: absolute;
		width: 200px;
		height: 3.5em;
		margin: 0 auto;
		color: $white;
		z-index: 100;

		a {
			color: #fff;
			text-decoration: none;
			text-align: center;
			display: block;
			height: 3.5em;
			line-height: 3.5em;
		}
	}
}
@import "header-navigation";