.hero {
	max-width: 1080px;
	width: 90%;
	margin: 2em auto;
}

.img-wrap {
	&.news {
		$news-color: #FFA500;
  		border-bottom: 5px solid $news-color;
  		.cat-tab {
			background: $news-color;
			border-left: 5px solid darken($news-color, 15%);
  		}
	}
	&.car-reviews {
		$review-color: #852729;
  		border-bottom: 5px solid $review-color;
  		.cat-tab {
			background: $review-color;
			border-left: 5px solid darken($review-color, 15%);
  		}
	}
	display: block;
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;

	border-bottom: 5px solid $pri-color;
	box-shadow: -2px -3px 8px #333;

  @include bp(sm) {
    display: inline-block;
    width: 50%;
  }
  @include bp(md) {
    width: 70%;
  }
	// @media all and (min-width: 520px) {
	// width: 50%;
	// }
	// @media all and (min-width: 880px) {
	// width: 70%;
	// }

	.aspectbox {
    	padding-top: 55%;
	}
	.cat-tab {
        position: absolute;
        bottom: -5px;
        left: 0;
        background: $pri-color;
        color: #fff;
        padding: .5em 1.5em;
        border-left: 5px solid darken($pri-color, 15%);
	}
}

.content-card {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background: #eee;
  
  @include bp(sm) {
    width: 50%;
  }
  @include bp(md) {
    width: 30%;
  }
  // @media all and (min-width: 520px) {
  //   width: 50%;
  // }
  // @media all and (min-width: 880px) {
  //   width: 30%;
  // }
  
  .topbox {
    background: white;
    padding: .5em;
  }
  h2 {
    margin: 0;
    padding-bottom: .5em;
  }
}

.excerpt {
  padding: 0.5em;
}

.readmorebtn {
  display: inline-block;
  background: $sec-color;
  // background: palette(blue);
  color: #fff;
  text-decoration: none;
  font-size: .9em;
  padding: .5em 1.5em;
  border-left: 5px solid darken($sec-color, 20%);
}

.icon-bubble {
  fill: white;
}

.icon {
  width: 1em;
  height: 1em;
  margin-top: .2em;
}



