.content-wrapper {
	display: -webkit-flex;
	display: flex;

	& div {
		max-width: 1080px;
		margin: 0 auto;
		width: 100%;
		// overflow: hidden;
	}

	& h1 {
		margin-bottom: 0 !important;
	}

	& h1.news, h2.news {
		color: $dark-orange;
	}

	& h1.reviews, h2.reviews {
		color: $blue;
	}
	
 }

 .hero-center {
 	&img {
 		width: 100% !important;
 	}
 	// width: 100%;
 }