@mixin arrows() {
    position: absolute;
    font-weight: bold;
    top: 50%;
    width: 2em;
    height: 3em;
    transform: translateY(-50%);
    background: #d6d6d6;
    font-family: Open-sans;
    padding: 0.8em;
    border: 2px solid darken(#d6d6d6, 10%);
    cursor: pointer;
}
.post-hero--list {
  overflow: hidden;
  > div {
    width: 33.333%;
    float: left;
  }
  .post-hero--img {
    position: relative;
  }
  .img--prev {
    @include arrows;
    left: -2em;
    border-right: none;
  }
  .img--next {
    @include arrows;
    right: -2em;
    border-left: none;
  }
}