.prefered-box {
	border-top: 5px solid $light-blue;
	// border-bottom: 10px solid $light-blue;

	// background: lighten($bg-color, 5%);
	background: url("../../theme_images/prefered_bg.jpg") center no-repeat;
	background-size: cover;
}

.prefered-wrapp {
	width: 90%;
	max-width: 1080px;	
	margin: 0 auto;
	padding: 4em 0;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	a {
		display: flex;
		align-items: stretch;
		width: 16em;
		border: 3px solid $sec-color;
		background: white;
		text-decoration: none;
		color: #333;
		overflow: hidden;
		margin-bottom: 1em;
	}	
}

.prefered {

	&--icon {
		width: 4em;
		background: $sec-color;
		margin: 0;
	}
	&--txt {
		padding: 0.5em 1em;
		span {
			font-style: italic;
		}
		h4 {
			font-family: "Open Sans" sans-serif;
			font-size: 1.6em;
			padding-left: 0.8em;
			font-weight: bold;
			margin: 0;
		}		
	}
}