.main-wrap--homepage {
	background: $light-gray;
}
.blog-slogan {
	h2 {
		text-align: center;
		font-family: serif;
		font-style: italic;
		font-weight: 100;
		font-size: 2em;
		padding: 1em 0;
		span {
			display: block;
		}
	}
}

.post-list {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;

	& img {

		transform: none !important;

		@include bp(xl) {
			transform: translateY(-20%) !important;
		}
	}

	> .btn {
		clear: both;
		display: block;
		margin: 1em auto 2em;
		width: 12em;
		height: auto;
		background: $pri-color;
		border-bottom: 4px solid $dark-red;

		&:hover {
			background: $dark-red;

		}

		> svg {
			float: right;
		}
	}
}
