.error404 {
	.content-wrapper {
		max-width: 100%;
	}

	.post-list {
		max-width: 100%;
		width: auto;
	}

	.post-wrapper {

		> p a {
			display: inline-block;
			background: white;
			padding: .5em 1em;
			text-decoration: none;
			margin: 0 .3em;

			&:hover {
				background: $pri-color;
				color: white;
			}
		}	
	}
}
