.post-wrapper {
  font-size: 1.1em;
  a {
    word-break: break-word;
  }
  p {
    letter-spacing: 1px;
    line-height: 1.5;
    &.highlightp {
      text-align: justify;
      font-size: 1.14;
    }
  }
  p,h1,h2,h3,h4,ol,ul {
    max-width: 700px;
    margin: 1.1em  auto;
  }
  h2, h3, h4 {
    margin-bottom: 0.3em;
    color: #868484;
  }
  h2 + p, h3 + p, h4 + p {
    margin-top: 0.3em;
  }

  img {
    height: auto;
  }
  strong {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700;
  }

  blockquote p, .pull-quote {
    line-height: 1.4;
    text-align: center;
    font-size: 24px;
    margin: 48px -10px;
    border: none;
    padding: 0;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 100;
    font-style: italic;
    max-width: 100%;
  }

  .dropcap {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 155px;
    line-height: 0.83;
    padding-top: 0;
    margin-bottom: -0.08em;
    margin-left: -12px;
    margin-right: 14px;
    letter-spacing: -0.04em;
    display: block;
    position: relative;
    float: left;
  }

  .wp-caption {
    width: 100% !important;
    margin: 0 auto;
    overflow: hidden;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    a {
      flex: 1;
    }
    img {
      display: block;
      height: auto !important;
      width: 100%;
    }
    .wp-caption-text {
      flex: 1;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 1em;
      color: #fff;
      background: $red;
    }
    &.alignleft {
      @include bp(sm) {
        flex-direction: row;
      }
    }
    &.alignright {
      @include bp(sm) {
        flex-direction: row-reverse;
      }
    }
  }
  .gallery {
    .gallery-item {
      position: relative;
      overflow: hidden;
    }
    .gallery-caption {
      position: absolute;
      left: -999em;
    }
    img {
      height: auto;
    }
  }
  .img-by-two {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $red;
    padding: 1em 0.3em;
    img {
      width: 100%;
    }
    @include bp(sm) {
      flex-direction: row;
    }
    a {
      display: block;
      @include bp(sm) {
        flex: 50%;
      }
    }
  }
  .img-by-three {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $red;
    padding: 1em 0.3em;
    img {
      width: 100%;
    }
    @include bp(sm) {
      flex-direction: row;
    }
    a {
      display: block;
      @include bp(sm) {
        flex: 33%;
      }
    }
  }
  .img-by-four {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $red;
    padding: 1em 0.3em;
    img {
      width: 100%;
    }
    @include bp(sm) {
      flex-direction: row;
    }
    a {
      display: block;
      @include bp(sm) {
        flex: 25%;
      }
    }
  }
  .img-by-five {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $red;
    padding: 1em 0.3em;
    img {
      width: 100%;
    }
    @include bp(sm) {
      flex-direction: row;
    }
    a {
      display: block;
      @include bp(sm) {
        flex: 20%;
      }
    }
  }
}
