.post-wrapper {
  font-size: 1.1em;

  p {
    letter-spacing: 1px;
    line-height: 1.5;
  }
  p,h1,h2,h3,h4,ol,ul {
    max-width: 700px;
    margin: 1.1em  auto;
  }
  strong {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700;
  }

  blockquote p, .pull-quote {
    line-height: 1.4;
    text-align: center;
    font-size: 24px;
    margin: 48px -10px;
    border: none;
    padding: 0;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 100;
    font-style: italic;
    max-width: 100%;
  }

  .dropcap {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 155px;
    line-height: 0.83;
    padding-top: 0;
    margin-bottom: -0.08em;
    margin-left: -12px;
    margin-right: 14px;
    letter-spacing: -0.04em;
    display: block;
    position: relative;
    float: left;
  }
}
