.single {
  .content-wrapper {
    max-width: 100%;
  }

  .post-hero {
    margin: 0 0 2em;
  }

  .title-wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 1em;
  }
}

.content--post {
  flex-direction: column;
  .full-wrap {
    flex: 2;
  }
  @include bp(md) {
    flex-direction: row-reverse;
	}
}
.page .content-wrapper {
  max-width: 100%;
}
