.single {
  .content-wrapper {
    max-width: 100%;
  }

  .post-wrapper {
    text-align: justify;
  }

  .post-hero {
    margin: 2em 0;
  }

  .title-wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 1em;
  }
}