{% if category == 'car-reviews' %}
  <span>
    <svg class="icon"><use xlink:href="#icon-bubble2"></use></svg> Reviews
  </span>
{% endif %}
{% if category == 'news' %}
  <span>
    <svg class="icon"><use xlink:href="#icon-file-text2"></use></svg> News
  </span>
{% endif %}