@mixin button($color, $shade) {
	@if($shade == "dark") {
		color: $white;
	}@else{
		color: $black;
	}
	background: $color;
	text-decoration: none;
	padding: 1em 2em;
	text-transform: uppercase;
}

// %button {
// 	text-decoration: none;
// 	padding: 1em 2em;
// 	text-align: center;
// 	text-transform: uppercase;
// }

.btn {
	display: inline-block;
	&--dim {
		@include button($dark-gray, "dark");
	}

	&.prev {
		border-left: 5px solid $light-blue;
	}
	&.next {
		border-right: 5px solid $light-blue;
	}
}

.btn-wrapper {
	display: flex;
	justify-content: space-around;
}
