
// svg icon stuff //
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-images {
	width: 1.125em;
}

.icon-connection {
	width: 1.25em;
}

.icon-volume-high {
	width: 1.0625em;
}
// svg icon stuff //

h2 {
	font-size: 2em;
}
