{% include "components/post-hero-wrap.twig" %}

<section class="content-wrapper content--post">
  <div class="full-wrapper">


      <div class="post-wrapper">
        {{post.content}}
      </div>
			{% include "components/author-byline.twig" %}
  </div>

	<aside class="sidebar sidebar--post">

		{{global_sidebar}}

		{{ads_sidebar}}
	</aside>

</section>
